/* header  */
.from {
  min-height: 40px;
  background-color: red;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  text-decoration: none;
  
  
    
}
.fromitems {
  list-style: none;
  cursor: pointer;
  background-color: rgb(9, 45, 136);
  color: rgb(244, 246, 249);
  background-color: transparent;
  border: none;
  border-radius: 30px;
  display: inline-block;
  margin: 0 50px;
}
/* coffee and orange  */
.heading {
  width: auto;
  display:inline-block;
  text-decoration: none;
  flex-direction: row;
  color: rgb(214, 225, 236);
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(110, 104, 138);
  margin-top: 46px;
}
.headingitems:hover {
  opacity: 0.7;
  
}
.headingitems:active {
  background-color: rgb(25, 219, 15);
}
.headingtitle {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(240, 226, 226);
  width: auto;
  
}
.headingitems + .headingitems {
  margin-left: 16px;
}

.headingitems {
  color: rgb(214, 225, 236);
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(255, 20, 20);
  display: inline-block;
  margin: 0 50px;
}

.heading__image {
  border-radius: 10%;
  box-shadow: 0 4px 8px 0  rgb(25, 23, 23);
}
.heading__name {
  font-size: 20px;
  text-align: left;
}
.heading__icon {
  font-size: 30px;
  background-color: rgb(19, 19, 19);
}
.fa-light {
  font-size: 20px;
  background-color: rgb(22, 20, 20);
  color: rgb(9, 8, 8);
}
.fa-heart {
  font-size: 20px;
  background-color: rgb(22, 20, 20);
  color: rgb(9, 8, 8);
}


